/* CUSTOM PROPS */
:root {
    --primary: #EA625C;
    --primary-dark: #C9514C;
    --text-color: #333;

}


/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */
main {
    flex-grow: 1;
}


/* BUTTON */
.main-button {
    min-width: 260px;
    padding: 12px 38px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--primary);
    border: 0;
    transition: background-color 0.3s ease;
}

.main-button:hover {
    background-color: var(--primary-dark);
}

.main-button:active {
    opacity: 0.6;
}


/* LINED-LINK */
.lined-link {
    display: inline-flex;
    align-items: center;
    color: var(--primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
    text-transform: uppercase;
    text-decoration: none;
}

.lined-link::before {
    width: 40px;
    height: 3px;
    background-color: var(--primary);
    margin-right: 10px;
    content: "";
    transition: width 0.3s ease;
}

.lined-link:hover::before {
    width: 60px;
}


/* SITE-HEADER */
.site-header {
    padding-top: 30px;
}

.site-header-container {
    display: flex;
    align-items: center;
}

.site-logo {
    margin-right: auto;
    width: 35px;
    height: 42px;
}

.site-logo:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.site-logo:active {
    opacity: 0.6;
}

.site-logo-img {
    display: block;
    width: 35px;
    height: 42px;
    object-fit: contain;
}


/* SITE-NAV */
.sitenav {
    color: #333;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
} 

.sitenav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 30px;
}

.sitenav-link {
    display: block;
    padding-top: 6px;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    color: #333;
    text-decoration: none;
    transition: border-bottom 0.3s ease;
}

.sitenav-link:hover {
    border-bottom: 3px solid #333;
}


/* SERACH-FORM */
.search-form-input {
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0;
    border-bottom: 1px solid #333;
    margin-left: 40px;
}


/* MAIN-CONTENT */
/* HERO */
.hero {
    padding-top: 170px;
    padding-bottom: 185px;
    border-bottom: 2px solid #ddd;
    background-image: url("../img/watches.jpeg");
    background-repeat: no-repeat;
    background-position: left calc(50% + 550px) bottom;
}


/* CTA-CONTENT */
.cta-content {
    width: 100%;
    max-width: 490px;
}

.cta-content-title {
    margin: 0;
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.cta-content-text {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 42px;
    padding-left: 37px;
    color: #777;
    font-style: normal;
    font-weight: 400;
    border-left: 3px solid #888;
}


/* BENEFITS */
.benefits {
    padding-top: 70px;
    padding-bottom: 70px;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.benefits-item {
    width: 280px;
} 

.benefits-item:not(:last-child) {
    margin-right: 80px;
}

.benefits-item-title {
    margin: 0;
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.benefits-item-text {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.benefits-item-img:not(:last-child) {
    margin-right: 10px;
}


/* NIKE-SECTION */
.nike {
    padding-top: 70px;
    padding-bottom: 70px;
}

.nike-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watch-in-hand-img {
    margin: 0;
    width: 400px;
    height: 600px;
    object-fit: cover;
}


/* SITE-FOOTER */
.runners {
    background-image: url("../img/runners 1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
}

.cta-content-footer {
    padding-top: 240px;
    padding-bottom: 240px;
    margin-left: auto;
} 


.cta-content-footer-title {
    color: #fff;
}

.cta-content-footer-text {
    color: #fff;
    border-left: 3px solid #fff;
} 




